# This is the ENV template file for docker compose. It can help you with testing your application locally.
# If you want to use is it, create a copy of this file named .env and fill in the Environment variables
# below. When you run docker-compose up, these variables will be used

DATADOG_APP_KEY=
DATADOG_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
S3_DATA_LAKE_BUCKET=
